
header{
color:blueviolet;
}
h1 .a{

    color:blueviolet;
    font-size: 880px;
    font-style: italic;


}

@media all and(max-width: 721px){
    h1{
        display: flex;
        justify-content: left;
        /* flex-wrap: wrap;
        font-size: small;
        width: 59px;
        */
    }
    h5{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        font-size: medium;
        width: 259px;
       
    }
   footer{
    width: 100%;
    height: 100%;
    position: relative;
  
    background-color: #1D267D;


   }
  
}
#ho{
    position: absolute;
    top: -29px;
    left: -20px;
   
  
}
.a{ 
    position: relative;
    
    width:900px;
    height: 900px;
    top:200px;
    left:189px;
}
.b{ 
    position: relative;
    
    top:10px;
    left:7px;
}
.c{ 
    position: relative;
    
    top:15px;
    left:-17px;
}
.d{ 
    position: relative;
    
    top:15px;
    left:-17px;
}
.e{ 
    position: relative;
    top:15px;
    left:-17px;
}



.circle{
  position: absolute;
  top:-10%;
  left:450px;
  width: 400px;
  height: 420px;
  border-radius: 40%;
  @media (max-width: 600px) {
    position: absolute;
  top:31%;
  left:-70px;
  width: 400px;
  height: 420px;
  border-radius: 40%;
}

}
#p{
    position: relative;
    top:10px;
    left:45px;
    z-index: 10;
    border-radius:40%; 
}
#l{
    position: absolute;
    top:100px;
    left:-20%;
    width: 100px;
    height: 100px;
    transition: width 2s;
}
#u{
    position: absolute;
    top:15px;
    left:-20%;
  
}
#gt{
    position: absolute;
    top:185px;
    left:-20%;
    
}
#n{
    display:absolute;
    top:0px;
    left:0px;
}
#op{

    height: 300px;
    width: 1350px;
height: 300px;
width: 1350px;

}
footer {
    width: 100%;
    height: 100%;
    position: relative;
  
    background-color: #1D267D;
  }
  